.nav-container{
  background-color: #8EB2E8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
}
li{
  padding-left: 350px;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: black;
}

.logo{
  color: black;
  font-size: 32px;
}
.sign-up{
  width: 100px;
  height: 40px;
  border-radius: 9px;
  border-width: 1px;
  background-color: #8EB2E8;
  border-color: black;
  color: black;
}

